.one{
    color: #d0b8ac;
    /* pale dogwood */
}
.one{
    color: #f3d8c7;
    /* chapmigin pink */
}
.one{
    color: #efe5dc;
    /* linon */
}
.one{
    color: #fbfefb;
    /* baby powdert*/
}
.one{
    color: #ffffff; 
    /* white */
}